# Read JSON Format Data

JSoN stands for JavaScript Object Notation (although it is not JavaScript!), and is a data format similar to Python dictionaries.

### Creating JSON Data

## NBA JSON Data

Data collected from Sports Reference LLC that has NBA games played from 1985-2013.

Data source: https://data.mendeley.com/datasets/ct8f9skv97/1

In [1]:
import pandas as pd
import json

In [2]:
filepath = "../datasets/MoCoViolations_2018.json"

In [3]:
with open(filepath) as file:
    data=json.load(file)

In [4]:
#verify that this is a list type
type(data)
violations = data['data']

In [6]:
#check number of items in data list
#this is the total number of games in dataset
len(violations)

218273

In [7]:
type(violations)

list

#### Verify values within the data structure

In [9]:
#each index level is a basketball game
violations[0]

['row-tb2z_it96-ased',
 '00000000-0000-0000-D6FB-B97187EB8E43',
 0,
 1554316021,
 None,
 1554317159,
 None,
 '{ }',
 'dcf9f7e6-9001-4ac9-b657-94a3cd8b29b8',
 '2018-12-31T00:00:00',
 '23:56:00',
 'MCP',
 '1st District, Rockville',
 'FAILURE OF VEH. ON HWY. TO DISPLAY LIGHTED LAMPS, ILLUMINATING DEVICE IN UNFAVORABLE VISIBILITY COND',
 '355 @ FIRST ST',
 '39.07792',
 '-77.1404116666667',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'MD',
 '02 - Automobile',
 '2007',
 'TOYOTA',
 'COROLLA',
 'BLUE',
 'Warning',
 '22-201.1',
 'Transportation Article',
 'false',
 'BLACK',
 'M',
 'GERMANTOWN',
 'MD',
 'MD',
 'A - Marked Patrol',
 [None, '39.07792', '-77.140411666667', None, False, None],
 '3',
 '3',
 '25',
 '60',
 '12']

In [10]:
DateofStop= []
TimeofStop= []
Agency= []
Subagency= []
Description= []
Location= []
Latitude= []
Longitude= []
VehicleType= []
VehicleYear= []
VehicleMake= []
VehicleModel= []
VehicleColor= []
ViolationType= []
Race= []
Gender= []
DriverState= []
DriverLicenseState= []
ArrestType= []

In [11]:
violations = data['data']

In [12]:
for violation in violations:
    DateofStop.append(violation[9])
    TimeofStop.append(violation[10])
    Agency.append(violation[11])
    Subagency.append(violation[12])
    Description.append(violation[13])
    Location.append(violation[14])
    Latitude.append(violation[15])
    Longitude.append(violation[16])
    VehicleType.append(violation[28])
    VehicleYear.append(violation[29])
    VehicleMake.append(violation[30])
    VehicleModel.append(violation[31])
    VehicleColor.append(violation[32])
    ViolationType.append(violation[33])
    Race.append(violation[37])
    Gender.append(violation[38])
    DriverState.append(violation[40])
    DriverLicenseState.append(violation[41])
    ArrestType.append(violation[42])

In [13]:
len(violations)

218273

In [14]:
print(len(DateofStop)) #date of game
print(len(TimeofStop)) #city abbreviation
print(len(Agency)) #name of city
print(len(Subagency))  #T/F if home game
print(len(Description)) #team name
print(len(Location)) #list of players that played in the game
print(len(Latitude))  #final score for game
print(len(Longitude))  #0/1
print(len(VehicleType)) #date of game
print(len(VehicleYear)) #city abbreviation
print(len(VehicleMake)) #name of city
print(len(VehicleModel))  #T/F if home game
print(len(VehicleColor)) #team name
print(len(ViolationType)) #list of players that played in the game
print(len(Race))
print(len(Gender))  #final score for game
print(len(DriverState))  #0/1
print(len(DriverLicenseState))  #final score for game
print(len(ArrestType))

218273
218273
218273
218273
218273
218273
218273
218273
218273
218273
218273
218273
218273
218273
218273
218273
218273
218273
218273

#### Make gathered information into dataframe

In [15]:
#zip lists together into one list
#will put in order I want my columns to be
violationList = list(zip(DateofStop, TimeofStop, Agency, Subagency, Description, Location, Latitude, Longitude, VehicleType, VehicleYear, VehicleMake, VehicleModel, VehicleColor, ViolationType, Race, Gender, DriverState, DriverLicenseState, ArrestType))

#make list of column names
names = ['Date of Stop','Time of Stop', 'Agency', 'Subagency', 'Description', 'Location', 'Latitude', 'Longitude', 'Vehicle Type', 'Vehicle Year', 'Vehicle Make', 'Vehicle Model', 'Vehicle Color', 'Violation Type', 'Race', 'Gender', "Driver's State", "Driver's License State", 'ArrestType']

#TimeofStop, Agency, Subagency, Description, Location, Latitude, Longitude, VehicleType, VehicleYear, VehicleMake, VehicleModel, VehicleColor, ViolationType, Race, Gender, DriverState, DriverLicenseState, ArrestType

#make the dataframe
df = pd.DataFrame(violation, columns=names)

df.head()

In [16]:
#make the dataframe
df = pd.DataFrame(violationList, columns=names)

df.head()

,Date of Stop,Time of Stop,Agency,Subagency,Description,Location,Latitude,Longitude,Vehicle Type,Vehicle Year,Vehicle Make,Vehicle Model,Vehicle Color,Violation Type,Race,Gender,Driver's State,Driver's License State,ArrestType
0,2018-12-31T00:00:00,23:56:00,MCP,"1st District, Rockville",FAILURE OF VEH. ON HWY. TO DISPLAY LIGHTED LAM...,355 @ FIRST ST,39.07792,-77.1404116666667,02 - Automobile,2007,TOYOTA,COROLLA,BLUE,Warning,BLACK,M,MD,MD,A - Marked Patrol
1,2018-12-31T00:00:00,23:52:00,MCP,"6th District, Gaithersburg / Montgomery Village",FAILURE TO DISPLAY TWO LIGHTED FRONT LAMPS WHE...,N FREDERICK AVE @ ODENDHAL AVE,39.1486766666667,-77.2063433333333,02 - Automobile,2006,LEXUS,4S,GRAY,Warning,HISPANIC,M,MD,MD,A - Marked Patrol
2,2018-12-31T00:00:00,23:52:00,MCP,"6th District, Gaithersburg / Montgomery Village",FAILURE OF VEH. ON HWY. TO DISPLAY LIGHTED LAM...,N FREDERICK AVE @ ODENDHAL AVE,39.1486766666667,-77.2063433333333,02 - Automobile,2006,LEXUS,4S,GRAY,Warning,HISPANIC,M,MD,MD,A - Marked Patrol
3,2018-12-31T00:00:00,23:45:00,MCP,"1st District, Rockville",FAILURE OF VEH. ON HWY. TO DISPLAY LIGHTED LAM...,355 @ BEAL,39.08545,-77.1451033333333,02 - Automobile,2017,TOYOTA,COROLLA,GRAY,Warning,WHITE,F,MD,MD,A - Marked Patrol
4,2018-12-31T00:00:00,23:44:00,MCP,Headquarters and Special Operations,FAILURE TO DRIVE VEHICLE ON RIGHT HALF OF ROAD...,FENTON ST @ COLESVILLE RD,38.997515,-77.0267766666667,02 - Automobile,2016,CHEVROLET,IMPALA,BLACK,Warning,BLACK,M,VA,VA,A - Marked Patrol