In [7]:
import pandas as pd
import numpy as np

In [11]:
#import file

location= "../datasets/DC_Properties.csv"
df = pd.read_csv(location, low_memory=False)

In [12]:
df.head()

,Unnamed: 0,BATHRM,HF_BATHRM,HEAT,AC,NUM_UNITS,ROOMS,BEDRM,AYB,YR_RMDL,...,LONGITUDE,ASSESSMENT_NBHD,ASSESSMENT_SUBNBHD,CENSUS_TRACT,CENSUS_BLOCK,WARD,SQUARE,X,Y,QUADRANT
0,0,4,0,Warm Cool,Y,2.0,8,4,1910.0,1988.0,...,-77.040832,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,0152,-77.040429,38.914881,NW
1,1,3,1,Warm Cool,Y,2.0,11,5,1898.0,2007.0,...,-77.040764,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,0152,-77.040429,38.914881,NW
2,2,3,1,Hot Water Rad,Y,2.0,9,5,1910.0,2009.0,...,-77.040678,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,0152,-77.040429,38.914881,NW
3,3,3,1,Hot Water Rad,Y,2.0,8,5,1900.0,2003.0,...,-77.040629,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,0152,-77.040429,38.914881,NW
4,4,2,1,Warm Cool,Y,1.0,11,3,1913.0,2012.0,...,-77.039361,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,0152,-77.040429,38.914881,NW

In [14]:
df.tail()

,Unnamed: 0,BATHRM,HF_BATHRM,HEAT,AC,NUM_UNITS,ROOMS,BEDRM,AYB,YR_RMDL,...,LONGITUDE,ASSESSMENT_NBHD,ASSESSMENT_SUBNBHD,CENSUS_TRACT,CENSUS_BLOCK,WARD,SQUARE,X,Y,QUADRANT
158952,158952,1,0,Forced Air,Y,NaN,3,1,1938.0,2006.0,...,-77.01942,Old City 2,040 B Old City 2,4801.0,NaN,Ward 6,0477,-77.019422,38.911848,NW
158953,158953,1,0,Forced Air,Y,NaN,4,2,1938.0,2006.0,...,-77.01942,Old City 2,040 B Old City 2,4801.0,NaN,Ward 6,0477,-77.019422,38.911848,NW
158954,158954,2,0,Forced Air,Y,NaN,4,2,1920.0,2007.0,...,-77.01942,Old City 2,040 B Old City 2,4801.0,NaN,Ward 6,0477,-77.019422,38.911848,NW
158955,158955,1,0,Warm Cool,Y,NaN,2,0,1965.0,NaN,...,-77.01823,Southwest Waterfront,NaN,11000.0,NaN,Ward 6,0504,-77.018232,38.872961,SW
158956,158956,1,0,Warm Cool,Y,NaN,2,0,1965.0,NaN,...,-77.01823,Southwest Waterfront,NaN,11000.0,NaN,Ward 6,0504,-77.018232,38.872961,SW

In [18]:
df.shape.head(20)

AttributeError: 'tuple' object has no attribute 'head'

In [17]:
df.count

<bound method DataFrame.count of         Unnamed: 0  BATHRM  HF_BATHRM           HEAT AC  NUM_UNITS  ROOMS  \
0                0       4          0      Warm Cool  Y        2.0      8
1                1       3          1      Warm Cool  Y        2.0     11
2                2       3          1  Hot Water Rad  Y        2.0      9
3                3       3          1  Hot Water Rad  Y        2.0      8
4                4       2          1      Warm Cool  Y        1.0     11
5                5       3          2  Hot Water Rad  Y        1.0     10
6                6       1          0      Warm Cool  Y        2.0      5
7                7       3          1  Hot Water Rad  Y        2.0      8
8                8       3          1      Warm Cool  Y        2.0      7
9                9       1          1  Hot Water Rad  Y        1.0      6
10              10       3          0     Forced Air  N        3.0     12
11              11       5          0  Hot Water Rad  Y        3.0     16
12              12       2          0  Hot Water Rad  N        2.0      9
13              13       2          0      Warm Cool  Y        2.0     11
14              14       3          1      Warm Cool  Y        2.0      5
15              15       2          1      Warm Cool  Y        2.0      9
16              16       3          1      Warm Cool  Y        1.0      8
17              17       2          0  Hot Water Rad  N        1.0      6
18              18       3          1  Hot Water Rad  Y        2.0     10
19              19       3          1  Hot Water Rad  Y        2.0      9
20              20       3          1  Hot Water Rad  Y        1.0     14
21              21       3          0     Forced Air  Y        2.0     12
22              22       1          0     Forced Air  Y        1.0      6
23              23       2          1     Forced Air  Y        1.0      5
24              24       2          1  Hot Water Rad  Y        1.0      8
25              25       1          0  Hot Water Rad  N        1.0      8
26              26       1          0  Hot Water Rad  N        1.0     10
27              27       3          0  Hot Water Rad  Y        4.0      9
28              28       3          0      Warm Cool  Y        2.0     10
29              29       3          1     Forced Air  Y        2.0     11
...            ...     ...        ...            ... ..        ...    ...
158927      158927       2          0        Ht Pump  Y        NaN      6
158928      158928       2          1        Ht Pump  Y        NaN      5
158929      158929       2          1        Ht Pump  Y        NaN      5
158930      158930       2          0     Forced Air  N        NaN      4
158931      158931       2          1     Forced Air  N        NaN      4
158932      158932       2          1     Forced Air  N        NaN      4
158933      158933       2          0        Ht Pump  Y        NaN      4
158934      158934       1          1        Ht Pump  Y        NaN      3
158935      158935       1          0        Ht Pump  Y        NaN      3
158936      158936       1          0        Ht Pump  Y        NaN      3
158937      158937       1          0     Forced Air  Y        NaN      4
158938      158938       2          0      Warm Cool  Y        NaN      7
158939      158939       1          0     Forced Air  Y        NaN      4
158940      158940       2          0     Forced Air  Y        NaN      7
158941      158941       1          0     Forced Air  Y        NaN      4
158942      158942       2          0     Forced Air  Y        NaN      7
158943      158943       2          1     Forced Air  Y        NaN      5
158944      158944       2          1     Forced Air  Y        NaN      5
158945      158945       1          0     Forced Air  Y        NaN      3
158946      158946       1          0     Forced Air  Y        NaN      4
158947      158947       2          0     Forced Air  Y        NaN      4
158948      158948       2          0     Forced Air  Y        NaN      4
158949      158949       1          1     Forced Air  Y        NaN      4
158950      158950       3          0     Forced Air  Y        NaN      5
158951      158951       3          1     Forced Air  Y        NaN      5
158952      158952       1          0     Forced Air  Y        NaN      3
158953      158953       1          0     Forced Air  Y        NaN      4
158954      158954       2          0     Forced Air  Y        NaN      4
158955      158955       1          0      Warm Cool  Y        NaN      2
158956      158956       1          0      Warm Cool  Y        NaN      2

        BEDRM     AYB  YR_RMDL   ...     LONGITUDE       ASSESSMENT_NBHD  \
0           4  1910.0   1988.0   ...    -77.040832            Old City 2
1           5  1898.0   2007.0   ...    -77.040764            Old City 2
2           5  1910.0   2009.0   ...    -77.040678            Old City 2
3           5  1900.0   2003.0   ...    -77.040629            Old City 2
4           3  1913.0   2012.0   ...    -77.039361            Old City 2
5           5  1913.0      NaN   ...    -77.039715            Old City 2
6           2  1917.0   1988.0   ...    -77.041055            Old City 2
7           4  1906.0   2011.0   ...    -77.040129            Old City 2
8           3  1908.0   2008.0   ...    -77.039903            Old City 2
9           2  1908.0   1979.0   ...    -77.040081            Old City 2
10          5  1890.0   1950.0   ...    -77.040760            Old City 2
11          6  1905.0      NaN   ...    -77.039718            Old City 2
12          5  1894.0   1979.0   ...    -77.039569            Old City 2
13          5  1885.0   1979.0   ...    -77.039644            Old City 2
14          3  1917.0   2000.0   ...    -77.039716            Old City 2
15          4  1908.0   1990.0   ...    -77.039784            Old City 2
16          3  1908.0   2006.0   ...    -77.039844            Old City 2
17          3  1908.0   1987.0   ...    -77.039961            Old City 2
18          4  1908.0   2006.0   ...    -77.040020            Old City 2
19          3  1908.0   2013.0   ...    -77.040138            Old City 2
20          5  1880.0   2009.0   ...    -77.033774            Old City 2
21          3  1880.0   2009.0   ...    -77.033838            Old City 2
22          3  1880.0   2010.0   ...    -77.033925            Old City 2
23          3  1880.0   2010.0   ...    -77.033972            Old City 2
24          3  1880.0   2004.0   ...    -77.034070            Old City 2
25          4  1880.0   2010.0   ...    -77.034156            Old City 2
26          5  1900.0   2004.0   ...    -77.034258            Old City 2
27          3  1900.0   1963.0   ...    -77.034182            Old City 2
28          4  1900.0   1960.0   ...    -77.034119            Old City 2
29          3  1900.0   2014.0   ...    -77.034051            Old City 2
...       ...     ...      ...   ...           ...                   ...
158927      3  1993.0   1993.0   ...    -77.019274            Old City 2
158928      2  2013.0      NaN   ...    -77.019274            Old City 2
158929      2  2013.0      NaN   ...    -77.019274            Old City 2
158930      2  1900.0   2003.0   ...    -77.019243            Old City 2
158931      2  1900.0   2003.0   ...    -77.019243            Old City 2
158932      2  1900.0   2003.0   ...    -77.019243            Old City 2
158933      2  1880.0   2016.0   ...    -77.019243            Old City 2
158934      1  1880.0   2016.0   ...    -77.019243            Old City 2
158935      1  1880.0   2016.0   ...    -77.019243            Old City 2
158936      1  1880.0   2016.0   ...    -77.019243            Old City 2
158937      2  1992.0   1992.0   ...    -77.019420            Old City 2
158938      4  1992.0   1992.0   ...    -77.019420            Old City 2
158939      2  1992.0   1992.0   ...    -77.019420            Old City 2
158940      4  1992.0   1992.0   ...    -77.019420            Old City 2
158941      2  1992.0   1992.0   ...    -77.019420            Old City 2
158942      4  1992.0   1992.0   ...    -77.019420            Old City 2
158943      2  2004.0   2004.0   ...    -77.019420            Old City 2
158944      2  2004.0   2004.0   ...    -77.019420            Old City 2
158945      1  1938.0   2006.0   ...    -77.019420            Old City 2
158946      2  1938.0   2006.0   ...    -77.019420            Old City 2
158947      2  1938.0   2006.0   ...    -77.019420            Old City 2
158948      2  1938.0   2006.0   ...    -77.019420            Old City 2
158949      1  1938.0   2006.0   ...    -77.019420            Old City 2
158950      3  1938.0   2006.0   ...    -77.019420            Old City 2
158951      3  1938.0   2006.0   ...    -77.019420            Old City 2
158952      1  1938.0   2006.0   ...    -77.019420            Old City 2
158953      2  1938.0   2006.0   ...    -77.019420            Old City 2
158954      2  1920.0   2007.0   ...    -77.019420            Old City 2
158955      0  1965.0      NaN   ...    -77.018230  Southwest Waterfront
158956      0  1965.0      NaN   ...    -77.018230  Southwest Waterfront

       ASSESSMENT_SUBNBHD  CENSUS_TRACT CENSUS_BLOCK    WARD  SQUARE  \
0        040 D Old City 2        4201.0  004201 2006  Ward 2    0152
1        040 D Old City 2        4201.0  004201 2006  Ward 2    0152
2        040 D Old City 2        4201.0  004201 2006  Ward 2    0152
3        040 D Old City 2        4201.0  004201 2006  Ward 2    0152
4        040 D Old City 2        4201.0  004201 2006  Ward 2    0152
5        040 D Old City 2        4201.0  004201 2006  Ward 2    0152
6        040 D Old City 2        4201.0  004201 2005  Ward 2    0152
7        040 D Old City 2        4201.0  004201 2005  Ward 2    0152
8        040 D Old City 2        4201.0  004201 2005  Ward 2    0152
9        040 D Old City 2        4201.0  004201 2005  Ward 2    0152
10       040 D Old City 2        4201.0  004201 2005  Ward 2    0152
11       040 D Old City 2        4201.0  004201 2005  Ward 2    0152
12       040 D Old City 2        4201.0  004201 2005  Ward 2    0152
13       040 D Old City 2        4201.0  004201 2005  Ward 2    0152
14       040 D Old City 2        4201.0  004201 2005  Ward 2    0152
15       040 D Old City 2        4201.0  004201 2005  Ward 2    0152
16       040 D Old City 2        4201.0  004201 2005  Ward 2    0152
17       040 D Old City 2        4201.0  004201 2005  Ward 2    0152
18       040 D Old City 2        4201.0  004201 2005  Ward 2    0152
19       040 D Old City 2        4201.0  004201 2005  Ward 2    0152
20       040 E Old City 2        5201.0  005201 4003  Ward 2    0208
21       040 E Old City 2        5201.0  005201 4003  Ward 2    0208
22       040 E Old City 2        5201.0  005201 4003  Ward 2    0208
23       040 E Old City 2        5201.0  005201 4003  Ward 2    0208
24       040 E Old City 2        5201.0  005201 4003  Ward 2    0208
25       040 E Old City 2        5201.0  005201 4003  Ward 2    0208
26       040 E Old City 2        5201.0  005201 4003  Ward 2    0208
27       040 E Old City 2        5201.0  005201 4003  Ward 2    0208
28       040 E Old City 2        5201.0  005201 4003  Ward 2    0208
29       040 E Old City 2        5201.0  005201 4003  Ward 2    0208
...                   ...           ...          ...     ...     ...
158927   040 G Old City 2        4801.0          NaN  Ward 6    0475
158928   040 G Old City 2        4801.0          NaN  Ward 6    0475
158929   040 G Old City 2        4801.0          NaN  Ward 6    0475
158930   040 B Old City 2        4801.0          NaN  Ward 6    0476
158931   040 B Old City 2        4801.0          NaN  Ward 6    0476
158932   040 B Old City 2        4801.0          NaN  Ward 6    0476
158933   040 B Old City 2        4801.0          NaN  Ward 6    0476
158934   040 B Old City 2        4801.0          NaN  Ward 6    0476
158935   040 B Old City 2        4801.0          NaN  Ward 6    0476
158936   040 B Old City 2        4801.0          NaN  Ward 6    0476
158937   040 B Old City 2        4801.0          NaN  Ward 6    0477
158938   040 B Old City 2        4801.0          NaN  Ward 6    0477
158939   040 B Old City 2        4801.0          NaN  Ward 6    0477
158940   040 B Old City 2        4801.0          NaN  Ward 6    0477
158941   040 B Old City 2        4801.0          NaN  Ward 6    0477
158942   040 B Old City 2        4801.0          NaN  Ward 6    0477
158943   040 B Old City 2        4801.0          NaN  Ward 6    0477
158944   040 B Old City 2        4801.0          NaN  Ward 6    0477
158945   040 B Old City 2        4801.0          NaN  Ward 6    0477
158946   040 B Old City 2        4801.0          NaN  Ward 6    0477
158947   040 B Old City 2        4801.0          NaN  Ward 6    0477
158948   040 B Old City 2        4801.0          NaN  Ward 6    0477
158949   040 B Old City 2        4801.0          NaN  Ward 6    0477
158950   040 B Old City 2        4801.0          NaN  Ward 6    0477
158951   040 B Old City 2        4801.0          NaN  Ward 6    0477
158952   040 B Old City 2        4801.0          NaN  Ward 6    0477
158953   040 B Old City 2        4801.0          NaN  Ward 6    0477
158954   040 B Old City 2        4801.0          NaN  Ward 6    0477
158955                NaN       11000.0          NaN  Ward 6    0504
158956                NaN       11000.0          NaN  Ward 6    0504

                X          Y QUADRANT
0      -77.040429  38.914881       NW
1      -77.040429  38.914881       NW
2      -77.040429  38.914881       NW
3      -77.040429  38.914881       NW
4      -77.040429  38.914881       NW
5      -77.040429  38.914881       NW
6      -77.040429  38.914881       NW
7      -77.040429  38.914881       NW
8      -77.040429  38.914881       NW
9      -77.040429  38.914881       NW
10     -77.040429  38.914881       NW
11     -77.040429  38.914881       NW
12     -77.040429  38.914881       NW
13     -77.040429  38.914881       NW
14     -77.040429  38.914881       NW
15     -77.040429  38.914881       NW
16     -77.040429  38.914881       NW
17     -77.040429  38.914881       NW
18     -77.040429  38.914881       NW
19     -77.040429  38.914881       NW
20     -77.033366  38.911716       NW
21     -77.033366  38.911716       NW
22     -77.033366  38.911716       NW
23     -77.033366  38.911716       NW
24     -77.033366  38.911716       NW
25     -77.033366  38.911716       NW
26     -77.033366  38.911716       NW
27     -77.033366  38.911716       NW
28     -77.033366  38.911716       NW
29     -77.033366  38.911716       NW
...           ...        ...      ...
158927 -77.019277  38.914287       NW
158928 -77.019277  38.914287       NW
158929 -77.019277  38.914287       NW
158930 -77.019245  38.912954       NW
158931 -77.019245  38.912954       NW
158932 -77.019245  38.912954       NW
158933 -77.019245  38.912954       NW
158934 -77.019245  38.912954       NW
158935 -77.019245  38.912954       NW
158936 -77.019245  38.912954       NW
158937 -77.019422  38.911848       NW
158938 -77.019422  38.911848       NW
158939 -77.019422  38.911848       NW
158940 -77.019422  38.911848       NW
158941 -77.019422  38.911848       NW
158942 -77.019422  38.911848       NW
158943 -77.019422  38.911848       NW
158944 -77.019422  38.911848       NW
158945 -77.019422  38.911848       NW
158946 -77.019422  38.911848       NW
158947 -77.019422  38.911848       NW
158948 -77.019422  38.911848       NW
158949 -77.019422  38.911848       NW
158950 -77.019422  38.911848       NW
158951 -77.019422  38.911848       NW
158952 -77.019422  38.911848       NW
158953 -77.019422  38.911848       NW
158954 -77.019422  38.911848       NW
158955 -77.018232  38.872961       SW
158956 -77.018232  38.872961       SW

[158957 rows x 49 columns]>

In [20]:
#show the column names in the dataset
df.columns

Index(['Unnamed: 0', 'BATHRM', 'HF_BATHRM', 'HEAT', 'AC', 'NUM_UNITS', 'ROOMS',
       'BEDRM', 'AYB', 'YR_RMDL', 'EYB', 'STORIES', 'SALEDATE', 'PRICE',
       'QUALIFIED', 'SALE_NUM', 'GBA', 'BLDG_NUM', 'STYLE', 'STRUCT', 'GRADE',
       'CNDTN', 'EXTWALL', 'ROOF', 'INTWALL', 'KITCHENS', 'FIREPLACES',
       'USECODE', 'LANDAREA', 'GIS_LAST_MOD_DTTM', 'SOURCE', 'CMPLX_NUM',
       'LIVING_GBA', 'FULLADDRESS', 'CITY', 'STATE', 'ZIPCODE', 'NATIONALGRID',
       'LATITUDE', 'LONGITUDE', 'ASSESSMENT_NBHD', 'ASSESSMENT_SUBNBHD',
       'CENSUS_TRACT', 'CENSUS_BLOCK', 'WARD', 'SQUARE', 'X', 'Y', 'QUADRANT'],
      dtype='object')

In [22]:
#descriptive statistics
df.describe()

,Unnamed: 0,BATHRM,HF_BATHRM,NUM_UNITS,ROOMS,BEDRM,AYB,YR_RMDL,EYB,STORIES,...,USECODE,LANDAREA,CMPLX_NUM,LIVING_GBA,ZIPCODE,LATITUDE,LONGITUDE,CENSUS_TRACT,X,Y
count,158957.000000,158957.000000,158957.000000,106696.000000,158957.000000,158957.000000,158686.000000,80928.000000,158957.000000,106652.000000,...,158957.000000,158957.000000,52261.000000,52261.000000,158956.000000,158956.000000,158956.000000,158956.000000,158720.000000,158720.000000
mean,79478.000000,1.810678,0.458237,1.198039,6.187736,2.732506,1941.987579,1998.243537,1963.718024,2.091793,...,14.252999,2473.282158,2371.544249,888.834542,20012.694563,38.914854,-77.016676,5348.216324,-77.016712,38.914846
std,45887.077707,0.976396,0.587571,0.596924,2.618165,1.358864,33.640234,16.575786,24.923150,2.933323,...,3.725736,5059.046023,1114.272364,420.185822,15.627084,0.031723,0.040938,3369.645953,0.040933,0.031682
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1754.000000,20.000000,1800.000000,0.000000,...,11.000000,0.000000,1001.000000,0.000000,20001.000000,38.819731,-77.113909,100.000000,-77.113135,38.820576
25%,39739.000000,1.000000,0.000000,1.000000,4.000000,2.000000,1918.000000,1985.000000,1954.000000,2.000000,...,11.000000,697.000000,1501.000000,616.000000,20007.000000,38.895425,-77.042892,2102.000000,-77.042894,38.895432
50%,79478.000000,2.000000,0.000000,1.000000,6.000000,3.000000,1937.000000,2004.000000,1963.000000,2.000000,...,13.000000,1649.000000,2265.000000,783.000000,20011.000000,38.915337,-77.019596,5201.000000,-77.019581,38.915229
75%,119217.000000,2.000000,1.000000,1.000000,7.000000,3.000000,1960.000000,2010.000000,1975.000000,2.000000,...,17.000000,3000.000000,2910.000000,1060.000000,20018.000000,38.936075,-76.988626,8302.000000,-76.988842,38.936077
max,158956.000000,14.000000,11.000000,6.000000,48.000000,24.000000,2019.000000,2019.000000,2018.000000,826.000000,...,117.000000,942632.000000,5621.000000,8553.000000,20392.000000,38.995540,-76.909758,11100.000000,-76.910511,38.993646

In [24]:
#descriptive statistics
df.describe

<bound method NDFrame.describe of         Unnamed: 0  BATHRM  HF_BATHRM           HEAT AC  NUM_UNITS  ROOMS  \
0                0       4          0      Warm Cool  Y        2.0      8
1                1       3          1      Warm Cool  Y        2.0     11
2                2       3          1  Hot Water Rad  Y        2.0      9
3                3       3          1  Hot Water Rad  Y        2.0      8
4                4       2          1      Warm Cool  Y        1.0     11
5                5       3          2  Hot Water Rad  Y        1.0     10
6                6       1          0      Warm Cool  Y        2.0      5
7                7       3          1  Hot Water Rad  Y        2.0      8
8                8       3          1      Warm Cool  Y        2.0      7
9                9       1          1  Hot Water Rad  Y        1.0      6
10              10       3          0     Forced Air  N        3.0     12
11              11       5          0  Hot Water Rad  Y        3.0     16
12              12       2          0  Hot Water Rad  N        2.0      9
13              13       2          0      Warm Cool  Y        2.0     11
14              14       3          1      Warm Cool  Y        2.0      5
15              15       2          1      Warm Cool  Y        2.0      9
16              16       3          1      Warm Cool  Y        1.0      8
17              17       2          0  Hot Water Rad  N        1.0      6
18              18       3          1  Hot Water Rad  Y        2.0     10
19              19       3          1  Hot Water Rad  Y        2.0      9
20              20       3          1  Hot Water Rad  Y        1.0     14
21              21       3          0     Forced Air  Y        2.0     12
22              22       1          0     Forced Air  Y        1.0      6
23              23       2          1     Forced Air  Y        1.0      5
24              24       2          1  Hot Water Rad  Y        1.0      8
25              25       1          0  Hot Water Rad  N        1.0      8
26              26       1          0  Hot Water Rad  N        1.0     10
27              27       3          0  Hot Water Rad  Y        4.0      9
28              28       3          0      Warm Cool  Y        2.0     10
29              29       3          1     Forced Air  Y        2.0     11
...            ...     ...        ...            ... ..        ...    ...
158927      158927       2          0        Ht Pump  Y        NaN      6
158928      158928       2          1        Ht Pump  Y        NaN      5
158929      158929       2          1        Ht Pump  Y        NaN      5
158930      158930       2          0     Forced Air  N        NaN      4
158931      158931       2          1     Forced Air  N        NaN      4
158932      158932       2          1     Forced Air  N        NaN      4
158933      158933       2          0        Ht Pump  Y        NaN      4
158934      158934       1          1        Ht Pump  Y        NaN      3
158935      158935       1          0        Ht Pump  Y        NaN      3
158936      158936       1          0        Ht Pump  Y        NaN      3
158937      158937       1          0     Forced Air  Y        NaN      4
158938      158938       2          0      Warm Cool  Y        NaN      7
158939      158939       1          0     Forced Air  Y        NaN      4
158940      158940       2          0     Forced Air  Y        NaN      7
158941      158941       1          0     Forced Air  Y        NaN      4
158942      158942       2          0     Forced Air  Y        NaN      7
158943      158943       2          1     Forced Air  Y        NaN      5
158944      158944       2          1     Forced Air  Y        NaN      5
158945      158945       1          0     Forced Air  Y        NaN      3
158946      158946       1          0     Forced Air  Y        NaN      4
158947      158947       2          0     Forced Air  Y        NaN      4
158948      158948       2          0     Forced Air  Y        NaN      4
158949      158949       1          1     Forced Air  Y        NaN      4
158950      158950       3          0     Forced Air  Y        NaN      5
158951      158951       3          1     Forced Air  Y        NaN      5
158952      158952       1          0     Forced Air  Y        NaN      3
158953      158953       1          0     Forced Air  Y        NaN      4
158954      158954       2          0     Forced Air  Y        NaN      4
158955      158955       1          0      Warm Cool  Y        NaN      2
158956      158956       1          0      Warm Cool  Y        NaN      2

        BEDRM     AYB  YR_RMDL   ...     LONGITUDE       ASSESSMENT_NBHD  \
0           4  1910.0   1988.0   ...    -77.040832            Old City 2
1           5  1898.0   2007.0   ...    -77.040764            Old City 2
2           5  1910.0   2009.0   ...    -77.040678            Old City 2
3           5  1900.0   2003.0   ...    -77.040629            Old City 2
4           3  1913.0   2012.0   ...    -77.039361            Old City 2
5           5  1913.0      NaN   ...    -77.039715            Old City 2
6           2  1917.0   1988.0   ...    -77.041055            Old City 2
7           4  1906.0   2011.0   ...    -77.040129            Old City 2
8           3  1908.0   2008.0   ...    -77.039903            Old City 2
9           2  1908.0   1979.0   ...    -77.040081            Old City 2
10          5  1890.0   1950.0   ...    -77.040760            Old City 2
11          6  1905.0      NaN   ...    -77.039718            Old City 2
12          5  1894.0   1979.0   ...    -77.039569            Old City 2
13          5  1885.0   1979.0   ...    -77.039644            Old City 2
14          3  1917.0   2000.0   ...    -77.039716            Old City 2
15          4  1908.0   1990.0   ...    -77.039784            Old City 2
16          3  1908.0   2006.0   ...    -77.039844            Old City 2
17          3  1908.0   1987.0   ...    -77.039961            Old City 2
18          4  1908.0   2006.0   ...    -77.040020            Old City 2
19          3  1908.0   2013.0   ...    -77.040138            Old City 2
20          5  1880.0   2009.0   ...    -77.033774            Old City 2
21          3  1880.0   2009.0   ...    -77.033838            Old City 2
22          3  1880.0   2010.0   ...    -77.033925            Old City 2
23          3  1880.0   2010.0   ...    -77.033972            Old City 2
24          3  1880.0   2004.0   ...    -77.034070            Old City 2
25          4  1880.0   2010.0   ...    -77.034156            Old City 2
26          5  1900.0   2004.0   ...    -77.034258            Old City 2
27          3  1900.0   1963.0   ...    -77.034182            Old City 2
28          4  1900.0   1960.0   ...    -77.034119            Old City 2
29          3  1900.0   2014.0   ...    -77.034051            Old City 2
...       ...     ...      ...   ...           ...                   ...
158927      3  1993.0   1993.0   ...    -77.019274            Old City 2
158928      2  2013.0      NaN   ...    -77.019274            Old City 2
158929      2  2013.0      NaN   ...    -77.019274            Old City 2
158930      2  1900.0   2003.0   ...    -77.019243            Old City 2
158931      2  1900.0   2003.0   ...    -77.019243            Old City 2
158932      2  1900.0   2003.0   ...    -77.019243            Old City 2
158933      2  1880.0   2016.0   ...    -77.019243            Old City 2
158934      1  1880.0   2016.0   ...    -77.019243            Old City 2
158935      1  1880.0   2016.0   ...    -77.019243            Old City 2
158936      1  1880.0   2016.0   ...    -77.019243            Old City 2
158937      2  1992.0   1992.0   ...    -77.019420            Old City 2
158938      4  1992.0   1992.0   ...    -77.019420            Old City 2
158939      2  1992.0   1992.0   ...    -77.019420            Old City 2
158940      4  1992.0   1992.0   ...    -77.019420            Old City 2
158941      2  1992.0   1992.0   ...    -77.019420            Old City 2
158942      4  1992.0   1992.0   ...    -77.019420            Old City 2
158943      2  2004.0   2004.0   ...    -77.019420            Old City 2
158944      2  2004.0   2004.0   ...    -77.019420            Old City 2
158945      1  1938.0   2006.0   ...    -77.019420            Old City 2
158946      2  1938.0   2006.0   ...    -77.019420            Old City 2
158947      2  1938.0   2006.0   ...    -77.019420            Old City 2
158948      2  1938.0   2006.0   ...    -77.019420            Old City 2
158949      1  1938.0   2006.0   ...    -77.019420            Old City 2
158950      3  1938.0   2006.0   ...    -77.019420            Old City 2
158951      3  1938.0   2006.0   ...    -77.019420            Old City 2
158952      1  1938.0   2006.0   ...    -77.019420            Old City 2
158953      2  1938.0   2006.0   ...    -77.019420            Old City 2
158954      2  1920.0   2007.0   ...    -77.019420            Old City 2
158955      0  1965.0      NaN   ...    -77.018230  Southwest Waterfront
158956      0  1965.0      NaN   ...    -77.018230  Southwest Waterfront

       ASSESSMENT_SUBNBHD  CENSUS_TRACT CENSUS_BLOCK    WARD  SQUARE  \
0        040 D Old City 2        4201.0  004201 2006  Ward 2    0152
1        040 D Old City 2        4201.0  004201 2006  Ward 2    0152
2        040 D Old City 2        4201.0  004201 2006  Ward 2    0152
3        040 D Old City 2        4201.0  004201 2006  Ward 2    0152
4        040 D Old City 2        4201.0  004201 2006  Ward 2    0152
5        040 D Old City 2        4201.0  004201 2006  Ward 2    0152
6        040 D Old City 2        4201.0  004201 2005  Ward 2    0152
7        040 D Old City 2        4201.0  004201 2005  Ward 2    0152
8        040 D Old City 2        4201.0  004201 2005  Ward 2    0152
9        040 D Old City 2        4201.0  004201 2005  Ward 2    0152
10       040 D Old City 2        4201.0  004201 2005  Ward 2    0152
11       040 D Old City 2        4201.0  004201 2005  Ward 2    0152
12       040 D Old City 2        4201.0  004201 2005  Ward 2    0152
13       040 D Old City 2        4201.0  004201 2005  Ward 2    0152
14       040 D Old City 2        4201.0  004201 2005  Ward 2    0152
15       040 D Old City 2        4201.0  004201 2005  Ward 2    0152
16       040 D Old City 2        4201.0  004201 2005  Ward 2    0152
17       040 D Old City 2        4201.0  004201 2005  Ward 2    0152
18       040 D Old City 2        4201.0  004201 2005  Ward 2    0152
19       040 D Old City 2        4201.0  004201 2005  Ward 2    0152
20       040 E Old City 2        5201.0  005201 4003  Ward 2    0208
21       040 E Old City 2        5201.0  005201 4003  Ward 2    0208
22       040 E Old City 2        5201.0  005201 4003  Ward 2    0208
23       040 E Old City 2        5201.0  005201 4003  Ward 2    0208
24       040 E Old City 2        5201.0  005201 4003  Ward 2    0208
25       040 E Old City 2        5201.0  005201 4003  Ward 2    0208
26       040 E Old City 2        5201.0  005201 4003  Ward 2    0208
27       040 E Old City 2        5201.0  005201 4003  Ward 2    0208
28       040 E Old City 2        5201.0  005201 4003  Ward 2    0208
29       040 E Old City 2        5201.0  005201 4003  Ward 2    0208
...                   ...           ...          ...     ...     ...
158927   040 G Old City 2        4801.0          NaN  Ward 6    0475
158928   040 G Old City 2        4801.0          NaN  Ward 6    0475
158929   040 G Old City 2        4801.0          NaN  Ward 6    0475
158930   040 B Old City 2        4801.0          NaN  Ward 6    0476
158931   040 B Old City 2        4801.0          NaN  Ward 6    0476
158932   040 B Old City 2        4801.0          NaN  Ward 6    0476
158933   040 B Old City 2        4801.0          NaN  Ward 6    0476
158934   040 B Old City 2        4801.0          NaN  Ward 6    0476
158935   040 B Old City 2        4801.0          NaN  Ward 6    0476
158936   040 B Old City 2        4801.0          NaN  Ward 6    0476
158937   040 B Old City 2        4801.0          NaN  Ward 6    0477
158938   040 B Old City 2        4801.0          NaN  Ward 6    0477
158939   040 B Old City 2        4801.0          NaN  Ward 6    0477
158940   040 B Old City 2        4801.0          NaN  Ward 6    0477
158941   040 B Old City 2        4801.0          NaN  Ward 6    0477
158942   040 B Old City 2        4801.0          NaN  Ward 6    0477
158943   040 B Old City 2        4801.0          NaN  Ward 6    0477
158944   040 B Old City 2        4801.0          NaN  Ward 6    0477
158945   040 B Old City 2        4801.0          NaN  Ward 6    0477
158946   040 B Old City 2        4801.0          NaN  Ward 6    0477
158947   040 B Old City 2        4801.0          NaN  Ward 6    0477
158948   040 B Old City 2        4801.0          NaN  Ward 6    0477
158949   040 B Old City 2        4801.0          NaN  Ward 6    0477
158950   040 B Old City 2        4801.0          NaN  Ward 6    0477
158951   040 B Old City 2        4801.0          NaN  Ward 6    0477
158952   040 B Old City 2        4801.0          NaN  Ward 6    0477
158953   040 B Old City 2        4801.0          NaN  Ward 6    0477
158954   040 B Old City 2        4801.0          NaN  Ward 6    0477
158955                NaN       11000.0          NaN  Ward 6    0504
158956                NaN       11000.0          NaN  Ward 6    0504

                X          Y QUADRANT
0      -77.040429  38.914881       NW
1      -77.040429  38.914881       NW
2      -77.040429  38.914881       NW
3      -77.040429  38.914881       NW
4      -77.040429  38.914881       NW
5      -77.040429  38.914881       NW
6      -77.040429  38.914881       NW
7      -77.040429  38.914881       NW
8      -77.040429  38.914881       NW
9      -77.040429  38.914881       NW
10     -77.040429  38.914881       NW
11     -77.040429  38.914881       NW
12     -77.040429  38.914881       NW
13     -77.040429  38.914881       NW
14     -77.040429  38.914881       NW
15     -77.040429  38.914881       NW
16     -77.040429  38.914881       NW
17     -77.040429  38.914881       NW
18     -77.040429  38.914881       NW
19     -77.040429  38.914881       NW
20     -77.033366  38.911716       NW
21     -77.033366  38.911716       NW
22     -77.033366  38.911716       NW
23     -77.033366  38.911716       NW
24     -77.033366  38.911716       NW
25     -77.033366  38.911716       NW
26     -77.033366  38.911716       NW
27     -77.033366  38.911716       NW
28     -77.033366  38.911716       NW
29     -77.033366  38.911716       NW
...           ...        ...      ...
158927 -77.019277  38.914287       NW
158928 -77.019277  38.914287       NW
158929 -77.019277  38.914287       NW
158930 -77.019245  38.912954       NW
158931 -77.019245  38.912954       NW
158932 -77.019245  38.912954       NW
158933 -77.019245  38.912954       NW
158934 -77.019245  38.912954       NW
158935 -77.019245  38.912954       NW
158936 -77.019245  38.912954       NW
158937 -77.019422  38.911848       NW
158938 -77.019422  38.911848       NW
158939 -77.019422  38.911848       NW
158940 -77.019422  38.911848       NW
158941 -77.019422  38.911848       NW
158942 -77.019422  38.911848       NW
158943 -77.019422  38.911848       NW
158944 -77.019422  38.911848       NW
158945 -77.019422  38.911848       NW
158946 -77.019422  38.911848       NW
158947 -77.019422  38.911848       NW
158948 -77.019422  38.911848       NW
158949 -77.019422  38.911848       NW
158950 -77.019422  38.911848       NW
158951 -77.019422  38.911848       NW
158952 -77.019422  38.911848       NW
158953 -77.019422  38.911848       NW
158954 -77.019422  38.911848       NW
158955 -77.018232  38.872961       SW
158956 -77.018232  38.872961       SW

[158957 rows x 49 columns]>

In [25]:
#show the data type of each column
df.dtypes

Unnamed: 0              int64
BATHRM                  int64
HF_BATHRM               int64
HEAT                   object
AC                     object
NUM_UNITS             float64
ROOMS                   int64
BEDRM                   int64
AYB                   float64
YR_RMDL               float64
EYB                     int64
STORIES               float64
SALEDATE               object
PRICE                 float64
QUALIFIED              object
SALE_NUM                int64
GBA                   float64
BLDG_NUM                int64
STYLE                  object
STRUCT                 object
GRADE                  object
CNDTN                  object
EXTWALL                object
ROOF                   object
INTWALL                object
KITCHENS              float64
FIREPLACES              int64
USECODE                 int64
LANDAREA                int64
GIS_LAST_MOD_DTTM      object
SOURCE                 object
CMPLX_NUM             float64
LIVING_GBA            float64
FULLADDRESS            object
CITY                   object
STATE                  object
ZIPCODE               float64
NATIONALGRID           object
LATITUDE              float64
LONGITUDE             float64
ASSESSMENT_NBHD        object
ASSESSMENT_SUBNBHD     object
CENSUS_TRACT          float64
CENSUS_BLOCK           object
WARD                   object
SQUARE                 object
X                     float64
Y                     float64
QUADRANT               object
dtype: object

In [26]:
#number of non-NA values
#len(df) would count rows including NA values
df.count()

Unnamed: 0            158957
BATHRM                158957
HF_BATHRM             158957
HEAT                  158957
AC                    158957
NUM_UNITS             106696
ROOMS                 158957
BEDRM                 158957
AYB                   158686
YR_RMDL                80928
EYB                   158957
STORIES               106652
SALEDATE              132187
PRICE                  98216
QUALIFIED             158957
SALE_NUM              158957
GBA                   106696
BLDG_NUM              158957
STYLE                 106696
STRUCT                106696
GRADE                 106696
CNDTN                 106696
EXTWALL               106696
ROOF                  106696
INTWALL               106696
KITCHENS              106695
FIREPLACES            158957
USECODE               158957
LANDAREA              158957
GIS_LAST_MOD_DTTM     158957
SOURCE                158957
CMPLX_NUM              52261
LIVING_GBA             52261
FULLADDRESS           106040
CITY                  106051
STATE                 106051
ZIPCODE               158956
NATIONALGRID          106051
LATITUDE              158956
LONGITUDE             158956
ASSESSMENT_NBHD       158956
ASSESSMENT_SUBNBHD    126406
CENSUS_TRACT          158956
CENSUS_BLOCK          106051
WARD                  158956
SQUARE                158957
X                     158720
Y                     158720
QUADRANT              158720
dtype: int64

In [28]:
#standard deviation for the price
df['PRICE'].std()

7061324.955612032

In [30]:
#doesn't do any
df.groupby('ROOMS')

In [42]:
df[['STATE','ZIPCODE','CITY','ROOMS','BATHRM']]

       STATE  ZIPCODE        CITY  ROOMS  BATHRM
0         DC  20009.0  WASHINGTON      8       4
1         DC  20009.0  WASHINGTON     11       3
2         DC  20009.0  WASHINGTON      9       3
3         DC  20009.0  WASHINGTON      8       3
4         DC  20009.0  WASHINGTON     11       2
5         DC  20009.0  WASHINGTON     10       3
6         DC  20009.0  WASHINGTON      5       1
7         DC  20009.0  WASHINGTON      8       3
8         DC  20009.0  WASHINGTON      7       3
9         DC  20009.0  WASHINGTON      6       1
10        DC  20009.0  WASHINGTON     12       3
11        DC  20009.0  WASHINGTON     16       5
12        DC  20009.0  WASHINGTON      9       2
13        DC  20009.0  WASHINGTON     11       2
14        DC  20009.0  WASHINGTON      5       3
15        DC  20009.0  WASHINGTON      9       2
16        DC  20009.0  WASHINGTON      8       3
17        DC  20009.0  WASHINGTON      6       2
18        DC  20009.0  WASHINGTON     10       3
19        DC  20009.0  WASHINGTON      9       3
20        DC  20009.0  WASHINGTON     14       3
21        DC  20009.0  WASHINGTON     12       3
22        DC  20009.0  WASHINGTON      6       1
23        DC  20009.0  WASHINGTON      5       2
24        DC  20009.0  WASHINGTON      8       2
25        DC  20009.0  WASHINGTON      8       1
26        DC  20009.0  WASHINGTON     10       1
27        DC  20009.0  WASHINGTON      9       3
28        DC  20009.0  WASHINGTON     10       3
29        DC  20009.0  WASHINGTON     11       3
...      ...      ...         ...    ...     ...
158927   NaN  20001.0         NaN      6       2
158928   NaN  20001.0         NaN      5       2
158929   NaN  20001.0         NaN      5       2
158930   NaN  20001.0         NaN      4       2
158931   NaN  20001.0         NaN      4       2
158932   NaN  20001.0         NaN      4       2
158933   NaN  20001.0         NaN      4       2
158934   NaN  20001.0         NaN      3       1
158935   NaN  20001.0         NaN      3       1
158936   NaN  20001.0         NaN      3       1
158937   NaN  20001.0         NaN      4       1
158938   NaN  20001.0         NaN      7       2
158939   NaN  20001.0         NaN      4       1
158940   NaN  20001.0         NaN      7       2
158941   NaN  20001.0         NaN      4       1
158942   NaN  20001.0         NaN      7       2
158943   NaN  20001.0         NaN      5       2
158944   NaN  20001.0         NaN      5       2
158945   NaN  20001.0         NaN      3       1
158946   NaN  20001.0         NaN      4       1
158947   NaN  20001.0         NaN      4       2
158948   NaN  20001.0         NaN      4       2
158949   NaN  20001.0         NaN      4       1
158950   NaN  20001.0         NaN      5       3
158951   NaN  20001.0         NaN      5       3
158952   NaN  20001.0         NaN      3       1
158953   NaN  20001.0         NaN      4       1
158954   NaN  20001.0         NaN      4       2
158955   NaN  20024.0         NaN      2       1
158956   NaN  20024.0         NaN      2       1

[158957 rows x 5 columns]

In [43]:
#group DATA by 'STATE','ZIPCODE','CITY','ROOMS'
df_small=df.groupby(['STATE','ZIPCODE','CITY','ROOMS']).mean()
df_small

                                  Unnamed: 0     BATHRM  HF_BATHRM  NUM_UNITS  \
STATE ZIPCODE CITY       ROOMS
DC    20001.0 WASHINGTON 0      28234.157895   1.368421   0.210526   1.368421
                         2       4416.000000   2.000000   1.000000   1.000000
                         3      16537.636364   1.000000   0.454545   1.000000
                         4      18623.624339   1.354497   0.291005   1.116402
                         5      18877.177914   1.429448   0.423313   1.098160
                         6      35168.047437   1.578821   0.493052   1.116914
                         7      39139.133256   2.049826   0.612978   1.263036
                         8      33139.099421   2.361969   0.592664   1.560811
                         9      21857.303681   2.684049   0.619632   1.677914
                         10     19492.362500   2.787500   0.541667   1.841667
                         11     17510.285714   3.059524   0.511905   1.988095
                         12     18408.719298   3.666667   0.614035   2.403509
                         13      7928.833333   3.291667   0.333333   2.333333
                         14     11244.333333   4.466667   0.466667   3.133333
                         15     14966.000000   3.444444   0.555556   2.444444
                         16     19099.125000   4.166667   0.291667   3.625000
                         17      4729.000000   3.000000   0.000000   3.000000
                         18      3124.333333   3.333333   0.333333   3.000000
                         19     48692.000000   4.000000   0.000000   4.000000
                         20      3579.000000   4.000000   0.000000   4.000000
                         21      5719.000000   4.000000   0.000000   4.000000
                         23      5192.666667  10.333333   1.666667   2.666667
      20002.0 WASHINGTON 0      58034.000000   1.080000   0.240000   1.240000
                         2      48564.222222   1.000000   0.333333   1.000000
                         3      51305.666667   1.333333   0.222222   1.111111
                         4      44643.576060   1.206983   0.266833   1.092269
                         5      41967.592174   1.302609   0.476522   1.038261
                         6      41129.028637   1.524724   0.486304   1.107969
                         7      40970.749878   1.785958   0.543637   1.142370
                         8      38748.924422   2.121799   0.569019   1.359151
...                                      ...        ...        ...        ...
      20036.0 WASHINGTON 12      2312.882353   3.705882   0.352941   2.823529
                         13       697.000000   6.000000   1.000000   2.000000
                         14      2782.000000   4.000000   0.000000   3.333333
                         15      2416.500000   4.500000   0.000000   2.500000
                         16      2290.333333   4.666667   0.333333   3.000000
                         18      3141.000000   5.500000   1.500000   1.500000
      20037.0 WASHINGTON 3       2774.200000   1.000000   0.000000   1.000000
                         4       2035.508772   1.157895   0.298246   1.017544
                         5       2179.783784   1.581081   0.743243   1.027027
                         6       1776.298507   2.074627   0.656716   1.268657
                         7       1164.406250   2.000000   0.812500   1.250000
                         8       1327.482759   2.517241   0.586207   1.862069
                         9       1457.900000   3.033333   0.633333   1.800000
                         10      1249.812500   3.187500   0.750000   2.187500
                         11      1510.555556   3.555556   0.888889   2.000000
                         12      1123.700000   3.900000   0.700000   2.900000
                         13      1497.333333   4.333333   1.000000   2.333333
                         14       820.000000   4.000000   0.000000   2.000000
                         15       533.500000   7.000000   0.000000   4.000000
                         16       880.666667   4.000000   0.000000   4.000000
                         17       689.000000   4.000000   0.000000   3.000000
                         19       821.000000   5.000000   2.000000   4.000000
      20052.0 WASHINGTON 5       1758.000000   1.500000   1.500000   1.000000
                         6       2266.000000   1.000000   0.500000   1.000000
                         7       2889.000000   2.200000   0.200000   1.400000
                         8       3390.000000   1.400000   0.400000   1.000000
                         9       4094.000000   2.000000   0.000000   1.000000
                         10      4095.000000   2.000000   0.000000   1.000000
                         11      3525.000000   3.000000   0.000000   1.500000
                         12      2842.000000   3.000000   0.000000   3.000000

                                    BEDRM          AYB      YR_RMDL  \
STATE ZIPCODE CITY       ROOMS
DC    20001.0 WASHINGTON 0       0.000000  1909.631579  2004.250000
                         2       2.000000  1975.000000  2000.000000
                         3       1.272727  1906.363636  2005.400000
                         4       2.095238  1902.708995  2002.341880
                         5       2.300613  1908.266871  2001.508021
                         6       3.005750  1909.852278  2003.174270
                         7       3.582851  1905.829070  2004.815109
                         8       3.981660  1910.283092  2003.762768
                         9       4.291411  1908.285276  2003.674757
                         10      4.495833  1910.087866  2001.513514
                         11      4.880952  1908.809524  1998.085106
                         12      5.324561  1911.061404  1999.328125
                         13      5.458333  1907.916667  1992.500000
                         14      6.666667  1906.933333  1993.800000
                         15      6.777778  1913.444444  2004.714286
                         16      6.208333  1906.458333  2004.450000
                         17      7.333333  1907.333333  1974.000000
                         18      7.333333  1888.333333  1976.000000
                         19      7.000000  1927.000000  1982.000000
                         20      8.000000  1900.000000          NaN
                         21      8.000000  1910.000000  2010.000000
                         23     11.000000  1977.333333  2012.000000
      20002.0 WASHINGTON 0       0.000000  1922.920000  1986.333333
                         2       1.333333  1924.333333  1997.666667
                         3       2.111111  1918.488889  1993.592593
                         4       2.077307  1919.169576  1999.616667
                         5       2.221739  1917.591463  2000.345886
                         6       2.900036  1918.076224  2001.144452
                         7       3.252560  1918.998048  2000.419196
                         8       3.503435  1917.738095  2002.525629
...                                   ...          ...          ...
      20036.0 WASHINGTON 12      5.058824  1904.647059  2001.500000
                         13      5.000000  1896.000000  2007.000000
                         14      5.333333  1907.666667  1990.333333
                         15      6.000000  1895.000000  1986.500000
                         16      5.500000  1903.166667  1995.400000
                         18      5.000000  1930.500000  2007.500000
      20037.0 WASHINGTON 3       1.000000  1892.600000  2004.000000
                         4       1.982456  1915.087719  1994.933333
                         5       2.270270  1925.040541  1998.525424
                         6       2.597015  1918.343284  2001.576923
                         7       2.968750  1920.187500  2001.000000
                         8       3.620690  1924.896552  1996.080000
                         9       4.333333  1908.133333  2002.185185
                         10      4.000000  1911.062500  2003.333333
                         11      5.000000  1920.777778  1995.250000
                         12      4.700000  1905.700000  1995.750000
                         13      6.000000  1933.666667  1981.666667
                         14      5.000000  1900.000000  2004.000000
                         15      6.500000  1890.000000  1951.000000
                         16      5.333333  1908.333333          NaN
                         17      4.000000  1912.000000  2002.000000
                         19      6.000000  1900.000000  2001.000000
      20052.0 WASHINGTON 5       3.000000  1896.000000  2014.000000
                         6       2.500000  1895.000000  2007.000000
                         7       3.600000  1908.000000  2001.000000
                         8       4.000000  1864.000000  2005.250000
                         9       6.000000  1900.000000          NaN
                         10      6.000000  1900.000000  2009.000000
                         11      5.500000  1900.000000  2004.000000
                         12      3.000000  1910.000000          NaN

                                        EYB   STORIES         PRICE  \
STATE ZIPCODE CITY       ROOMS
DC    20001.0 WASHINGTON 0      1954.578947  2.526316  4.835414e+05
                         2      1989.000000  2.000000           NaN
                         3      1958.363636  2.000000  5.369375e+05
                         4      1958.862434  2.021164  4.467493e+05
                         5      1962.279141  2.049080  4.832549e+05
                         6      1963.149018  2.048754  4.776348e+05
                         7      1963.633835  2.159408  5.509039e+05
                         8      1965.656371  2.284541  5.785647e+05
                         9      1966.874233  2.403077  7.182157e+05
                         10     1966.508333  2.443515  7.024175e+05
                         11     1967.071429  2.608434  6.901613e+05
                         12     1966.701754  2.679825  6.079491e+05
                         13     1963.250000  2.833333  8.522458e+05
                         14     1964.866667  3.000000  8.004571e+05
                         15     1967.000000  2.777778  4.489000e+05
                         16     1964.666667  2.708333  8.405001e+05
                         17     1952.333333  2.333333           NaN
                         18     1966.333333  3.333333  4.930000e+05
                         19     1954.000000  2.000000  1.640000e+05
                         20     1960.000000  2.000000           NaN
                         21     1964.000000  2.000000  3.950000e+05
                         23     2001.000000  2.000000  2.083333e+06
      20002.0 WASHINGTON 0      1952.880000  2.000000  3.004487e+05
                         2      1955.777778  1.555556  2.494286e+05
                         3      1958.044444  1.931818  2.713400e+05
                         4      1958.733167  2.000623  3.371910e+05
                         5      1960.795652  2.000217  4.076153e+05
                         6      1961.109214  2.164012  4.423628e+05
                         7      1962.574842  2.063871  5.101785e+05
                         8      1964.265459  2.100219  5.657135e+05
...                                     ...       ...           ...
      20036.0 WASHINGTON 12     1971.529412  3.235294  1.485462e+06
                         13     1969.000000  4.000000  1.250000e+06
                         14     1966.000000  3.000000  2.075000e+06
                         15     1967.500000  3.000000  2.800000e+05
                         16     1968.833333  3.333333  8.980000e+05
                         18     1990.500000  4.000000  7.417000e+06
      20037.0 WASHINGTON 3      1957.400000  2.000000  2.993800e+05
                         4      1962.859649  2.017544  5.195412e+05
                         5      1968.000000  2.155405  7.564603e+05
                         6      1967.283582  2.134328  7.296365e+05
                         7      1968.031250  2.343750  7.902708e+05
                         8      1969.551724  2.396552  1.085021e+06
                         9      1968.200000  2.633333  1.225601e+06
                         10     1969.500000  2.750000  9.469541e+05
                         11     1974.555556  2.777778  1.059250e+06
                         12     1968.500000  2.800000  1.236667e+06
                         13     1977.333333  2.666667  1.657500e+06
                         14     1982.000000  3.000000  3.410000e+05
                         15     1967.000000  2.000000  1.150000e+06
                         16     1955.000000  2.000000  7.267200e+05
                         17     1987.000000  3.000000  1.475000e+06
                         19     1969.000000  3.000000  1.300000e+06
      20052.0 WASHINGTON 5      1963.500000  2.000000  3.700000e+05
                         6      1958.500000  2.500000  7.175000e+05
                         7      1964.600000  2.800000  4.425000e+05
                         8      1963.600000  2.500000  5.250000e+05
                         9      1960.000000  3.000000           NaN
                         10     1960.000000  3.000000           NaN
                         11     1969.000000  3.000000  5.500000e+05
                         12     1969.000000  2.500000           NaN

                                  ...      FIREPLACES    USECODE     LANDAREA  \
STATE ZIPCODE CITY       ROOMS    ...
DC    20001.0 WASHINGTON 0        ...        0.000000  15.000000  1695.894737
                         2        ...        1.000000  11.000000  2415.000000
                         3        ...        0.181818  13.636364  1418.636364
                         4        ...        0.169312  12.417989  1032.582011
                         5        ...        0.251534  12.141104  1237.558282
                         6        ...        0.260661  12.590800  1437.338764
                         7        ...        0.425261  14.266512  1639.862109
                         8        ...        0.408301  17.682432  1630.974903
                         9        ...        0.604294  17.972393  1648.294479
                         10       ...        0.658333  20.050000  1865.891667
                         11       ...        0.761905  19.476190  1712.023810
                         12       ...        0.447368  20.701754  1997.991228
                         13       ...        0.500000  19.833333  2013.250000
                         14       ...        1.333333  23.000000  1507.200000
                         15       ...        0.777778  21.111111  3116.555556
                         16       ...        0.166667  23.750000  2302.041667
                         17       ...        0.666667  19.666667  2599.666667
                         18       ...        1.333333  23.666667  2175.000000
                         19       ...        0.000000  24.000000  2826.000000
                         20       ...        0.000000  23.000000  3217.000000
                         21       ...        0.000000  23.000000  2565.000000
                         23       ...        1.666667  23.333333  2314.333333
      20002.0 WASHINGTON 0        ...        0.000000  12.680000  1663.160000
                         2        ...        0.000000  11.222222  1435.888889
                         3        ...        0.200000  11.711111  1255.444444
                         4        ...        0.276808  11.887781  1226.229426
                         5        ...        0.333913  11.564348  1327.371304
                         6        ...        0.291355  12.314123  1505.916933
                         7        ...        0.349586  12.733301  1596.095076
                         8        ...        0.421611  15.177389  1608.497189
...                               ...             ...        ...          ...
      20036.0 WASHINGTON 12       ...        1.647059  22.470588  1533.529412
                         13       ...        2.000000  24.000000  1400.000000
                         14       ...        1.333333  24.000000  1399.000000
                         15       ...        1.500000  17.500000  1312.000000
                         16       ...        2.333333  24.000000  1959.333333
                         18       ...        5.000000  17.500000  3934.500000
      20037.0 WASHINGTON 3        ...        1.000000  12.600000   517.800000
                         4        ...        0.894737  11.333333   710.105263
                         5        ...        1.094595  11.297297  1071.337838
                         6        ...        0.985075  13.507463  1261.537313
                         7        ...        0.781250  14.250000  1184.062500
                         8        ...        0.827586  19.103448  1342.689655
                         9        ...        1.300000  17.966667  1329.666667
                         10       ...        1.500000  21.562500  1171.562500
                         11       ...        1.111111  21.222222  1371.777778
                         12       ...        1.300000  22.600000  1448.800000
                         13       ...        2.333333  24.000000  1913.666667
                         14       ...        1.000000  24.000000  1000.000000
                         15       ...        0.000000  24.000000  1929.500000
                         16       ...        1.333333  23.000000  1668.666667
                         17       ...        0.000000  24.000000  1085.000000
                         19       ...        2.000000  24.000000  1667.000000
      20052.0 WASHINGTON 5        ...        0.500000  11.000000   999.500000
                         6        ...        0.000000  11.000000  1105.500000
                         7        ...        0.000000  11.000000  1251.600000
                         8        ...        0.400000  11.800000  1387.800000
                         9        ...        0.000000  11.000000  1057.000000
                         10       ...        0.000000  11.000000  1057.000000
                         11       ...        0.000000  11.000000  1068.000000
                         12       ...        0.000000  24.000000  3438.000000

                                CMPLX_NUM  LIVING_GBA   LATITUDE  LONGITUDE  \
STATE ZIPCODE CITY       ROOMS
DC    20001.0 WASHINGTON 0            NaN         NaN  38.915971 -77.017309
                         2            NaN         NaN  38.907776 -77.025160
                         3            NaN         NaN  38.915647 -77.023177
                         4            NaN         NaN  38.915645 -77.020602
                         5            NaN         NaN  38.915101 -77.020362
                         6            NaN         NaN  38.916806 -77.017784
                         7            NaN         NaN  38.915654 -77.015996
                         8            NaN         NaN  38.914936 -77.016374
                         9            NaN         NaN  38.913268 -77.018244
                         10           NaN         NaN  38.912926 -77.017654
                         11           NaN         NaN  38.913183 -77.020362
                         12           NaN         NaN  38.912039 -77.019403
                         13           NaN         NaN  38.909126 -77.020262
                         14           NaN         NaN  38.910073 -77.021369
                         15           NaN         NaN  38.911380 -77.020375
                         16           NaN         NaN  38.910932 -77.019241
                         17           NaN         NaN  38.908259 -77.014411
                         18           NaN         NaN  38.906760 -77.023034
                         19           NaN         NaN  38.924395 -77.023290
                         20           NaN         NaN  38.911736 -77.017467
                         21           NaN         NaN  38.910916 -77.013082

In [36]:
#unique values in a column
df['PRICE'].unique()

array([ 1095000.,       nan,  2100000., ...,   915500.,   908500.,
         485355.])

In [44]:
#find missing values
filename = "../datasets/DC_Properties.csv"
df = pd.read_csv(location, low_memory=False)
df_small

                                  Unnamed: 0     BATHRM  HF_BATHRM  NUM_UNITS  \
STATE ZIPCODE CITY       ROOMS
DC    20001.0 WASHINGTON 0      28234.157895   1.368421   0.210526   1.368421
                         2       4416.000000   2.000000   1.000000   1.000000
                         3      16537.636364   1.000000   0.454545   1.000000
                         4      18623.624339   1.354497   0.291005   1.116402
                         5      18877.177914   1.429448   0.423313   1.098160
                         6      35168.047437   1.578821   0.493052   1.116914
                         7      39139.133256   2.049826   0.612978   1.263036
                         8      33139.099421   2.361969   0.592664   1.560811
                         9      21857.303681   2.684049   0.619632   1.677914
                         10     19492.362500   2.787500   0.541667   1.841667
                         11     17510.285714   3.059524   0.511905   1.988095
                         12     18408.719298   3.666667   0.614035   2.403509
                         13      7928.833333   3.291667   0.333333   2.333333
                         14     11244.333333   4.466667   0.466667   3.133333
                         15     14966.000000   3.444444   0.555556   2.444444
                         16     19099.125000   4.166667   0.291667   3.625000
                         17      4729.000000   3.000000   0.000000   3.000000
                         18      3124.333333   3.333333   0.333333   3.000000
                         19     48692.000000   4.000000   0.000000   4.000000
                         20      3579.000000   4.000000   0.000000   4.000000
                         21      5719.000000   4.000000   0.000000   4.000000
                         23      5192.666667  10.333333   1.666667   2.666667
      20002.0 WASHINGTON 0      58034.000000   1.080000   0.240000   1.240000
                         2      48564.222222   1.000000   0.333333   1.000000
                         3      51305.666667   1.333333   0.222222   1.111111
                         4      44643.576060   1.206983   0.266833   1.092269
                         5      41967.592174   1.302609   0.476522   1.038261
                         6      41129.028637   1.524724   0.486304   1.107969
                         7      40970.749878   1.785958   0.543637   1.142370
                         8      38748.924422   2.121799   0.569019   1.359151
...                                      ...        ...        ...        ...
      20036.0 WASHINGTON 12      2312.882353   3.705882   0.352941   2.823529
                         13       697.000000   6.000000   1.000000   2.000000
                         14      2782.000000   4.000000   0.000000   3.333333
                         15      2416.500000   4.500000   0.000000   2.500000
                         16      2290.333333   4.666667   0.333333   3.000000
                         18      3141.000000   5.500000   1.500000   1.500000
      20037.0 WASHINGTON 3       2774.200000   1.000000   0.000000   1.000000
                         4       2035.508772   1.157895   0.298246   1.017544
                         5       2179.783784   1.581081   0.743243   1.027027
                         6       1776.298507   2.074627   0.656716   1.268657
                         7       1164.406250   2.000000   0.812500   1.250000
                         8       1327.482759   2.517241   0.586207   1.862069
                         9       1457.900000   3.033333   0.633333   1.800000
                         10      1249.812500   3.187500   0.750000   2.187500
                         11      1510.555556   3.555556   0.888889   2.000000
                         12      1123.700000   3.900000   0.700000   2.900000
                         13      1497.333333   4.333333   1.000000   2.333333
                         14       820.000000   4.000000   0.000000   2.000000
                         15       533.500000   7.000000   0.000000   4.000000
                         16       880.666667   4.000000   0.000000   4.000000
                         17       689.000000   4.000000   0.000000   3.000000
                         19       821.000000   5.000000   2.000000   4.000000
      20052.0 WASHINGTON 5       1758.000000   1.500000   1.500000   1.000000
                         6       2266.000000   1.000000   0.500000   1.000000
                         7       2889.000000   2.200000   0.200000   1.400000
                         8       3390.000000   1.400000   0.400000   1.000000
                         9       4094.000000   2.000000   0.000000   1.000000
                         10      4095.000000   2.000000   0.000000   1.000000
                         11      3525.000000   3.000000   0.000000   1.500000
                         12      2842.000000   3.000000   0.000000   3.000000

                                    BEDRM          AYB      YR_RMDL  \
STATE ZIPCODE CITY       ROOMS
DC    20001.0 WASHINGTON 0       0.000000  1909.631579  2004.250000
                         2       2.000000  1975.000000  2000.000000
                         3       1.272727  1906.363636  2005.400000
                         4       2.095238  1902.708995  2002.341880
                         5       2.300613  1908.266871  2001.508021
                         6       3.005750  1909.852278  2003.174270
                         7       3.582851  1905.829070  2004.815109
                         8       3.981660  1910.283092  2003.762768
                         9       4.291411  1908.285276  2003.674757
                         10      4.495833  1910.087866  2001.513514
                         11      4.880952  1908.809524  1998.085106
                         12      5.324561  1911.061404  1999.328125
                         13      5.458333  1907.916667  1992.500000
                         14      6.666667  1906.933333  1993.800000
                         15      6.777778  1913.444444  2004.714286
                         16      6.208333  1906.458333  2004.450000
                         17      7.333333  1907.333333  1974.000000
                         18      7.333333  1888.333333  1976.000000
                         19      7.000000  1927.000000  1982.000000
                         20      8.000000  1900.000000          NaN
                         21      8.000000  1910.000000  2010.000000
                         23     11.000000  1977.333333  2012.000000
      20002.0 WASHINGTON 0       0.000000  1922.920000  1986.333333
                         2       1.333333  1924.333333  1997.666667
                         3       2.111111  1918.488889  1993.592593
                         4       2.077307  1919.169576  1999.616667
                         5       2.221739  1917.591463  2000.345886
                         6       2.900036  1918.076224  2001.144452
                         7       3.252560  1918.998048  2000.419196
                         8       3.503435  1917.738095  2002.525629
...                                   ...          ...          ...
      20036.0 WASHINGTON 12      5.058824  1904.647059  2001.500000
                         13      5.000000  1896.000000  2007.000000
                         14      5.333333  1907.666667  1990.333333
                         15      6.000000  1895.000000  1986.500000
                         16      5.500000  1903.166667  1995.400000
                         18      5.000000  1930.500000  2007.500000
      20037.0 WASHINGTON 3       1.000000  1892.600000  2004.000000
                         4       1.982456  1915.087719  1994.933333
                         5       2.270270  1925.040541  1998.525424
                         6       2.597015  1918.343284  2001.576923
                         7       2.968750  1920.187500  2001.000000
                         8       3.620690  1924.896552  1996.080000
                         9       4.333333  1908.133333  2002.185185
                         10      4.000000  1911.062500  2003.333333
                         11      5.000000  1920.777778  1995.250000
                         12      4.700000  1905.700000  1995.750000
                         13      6.000000  1933.666667  1981.666667
                         14      5.000000  1900.000000  2004.000000
                         15      6.500000  1890.000000  1951.000000
                         16      5.333333  1908.333333          NaN
                         17      4.000000  1912.000000  2002.000000
                         19      6.000000  1900.000000  2001.000000
      20052.0 WASHINGTON 5       3.000000  1896.000000  2014.000000
                         6       2.500000  1895.000000  2007.000000
                         7       3.600000  1908.000000  2001.000000
                         8       4.000000  1864.000000  2005.250000
                         9       6.000000  1900.000000          NaN
                         10      6.000000  1900.000000  2009.000000
                         11      5.500000  1900.000000  2004.000000
                         12      3.000000  1910.000000          NaN

                                        EYB   STORIES         PRICE  \
STATE ZIPCODE CITY       ROOMS
DC    20001.0 WASHINGTON 0      1954.578947  2.526316  4.835414e+05
                         2      1989.000000  2.000000           NaN
                         3      1958.363636  2.000000  5.369375e+05
                         4      1958.862434  2.021164  4.467493e+05
                         5      1962.279141  2.049080  4.832549e+05
                         6      1963.149018  2.048754  4.776348e+05
                         7      1963.633835  2.159408  5.509039e+05
                         8      1965.656371  2.284541  5.785647e+05
                         9      1966.874233  2.403077  7.182157e+05
                         10     1966.508333  2.443515  7.024175e+05
                         11     1967.071429  2.608434  6.901613e+05
                         12     1966.701754  2.679825  6.079491e+05
                         13     1963.250000  2.833333  8.522458e+05
                         14     1964.866667  3.000000  8.004571e+05
                         15     1967.000000  2.777778  4.489000e+05
                         16     1964.666667  2.708333  8.405001e+05
                         17     1952.333333  2.333333           NaN
                         18     1966.333333  3.333333  4.930000e+05
                         19     1954.000000  2.000000  1.640000e+05
                         20     1960.000000  2.000000           NaN
                         21     1964.000000  2.000000  3.950000e+05
                         23     2001.000000  2.000000  2.083333e+06
      20002.0 WASHINGTON 0      1952.880000  2.000000  3.004487e+05
                         2      1955.777778  1.555556  2.494286e+05
                         3      1958.044444  1.931818  2.713400e+05
                         4      1958.733167  2.000623  3.371910e+05
                         5      1960.795652  2.000217  4.076153e+05
                         6      1961.109214  2.164012  4.423628e+05
                         7      1962.574842  2.063871  5.101785e+05
                         8      1964.265459  2.100219  5.657135e+05
...                                     ...       ...           ...
      20036.0 WASHINGTON 12     1971.529412  3.235294  1.485462e+06
                         13     1969.000000  4.000000  1.250000e+06
                         14     1966.000000  3.000000  2.075000e+06
                         15     1967.500000  3.000000  2.800000e+05
                         16     1968.833333  3.333333  8.980000e+05
                         18     1990.500000  4.000000  7.417000e+06
      20037.0 WASHINGTON 3      1957.400000  2.000000  2.993800e+05
                         4      1962.859649  2.017544  5.195412e+05
                         5      1968.000000  2.155405  7.564603e+05
                         6      1967.283582  2.134328  7.296365e+05
                         7      1968.031250  2.343750  7.902708e+05
                         8      1969.551724  2.396552  1.085021e+06
                         9      1968.200000  2.633333  1.225601e+06
                         10     1969.500000  2.750000  9.469541e+05
                         11     1974.555556  2.777778  1.059250e+06
                         12     1968.500000  2.800000  1.236667e+06
                         13     1977.333333  2.666667  1.657500e+06
                         14     1982.000000  3.000000  3.410000e+05
                         15     1967.000000  2.000000  1.150000e+06
                         16     1955.000000  2.000000  7.267200e+05
                         17     1987.000000  3.000000  1.475000e+06
                         19     1969.000000  3.000000  1.300000e+06
      20052.0 WASHINGTON 5      1963.500000  2.000000  3.700000e+05
                         6      1958.500000  2.500000  7.175000e+05
                         7      1964.600000  2.800000  4.425000e+05
                         8      1963.600000  2.500000  5.250000e+05
                         9      1960.000000  3.000000           NaN
                         10     1960.000000  3.000000           NaN
                         11     1969.000000  3.000000  5.500000e+05
                         12     1969.000000  2.500000           NaN

                                  ...      FIREPLACES    USECODE     LANDAREA  \
STATE ZIPCODE CITY       ROOMS    ...
DC    20001.0 WASHINGTON 0        ...        0.000000  15.000000  1695.894737
                         2        ...        1.000000  11.000000  2415.000000
                         3        ...        0.181818  13.636364  1418.636364
                         4        ...        0.169312  12.417989  1032.582011
                         5        ...        0.251534  12.141104  1237.558282
                         6        ...        0.260661  12.590800  1437.338764
                         7        ...        0.425261  14.266512  1639.862109
                         8        ...        0.408301  17.682432  1630.974903
                         9        ...        0.604294  17.972393  1648.294479
                         10       ...        0.658333  20.050000  1865.891667
                         11       ...        0.761905  19.476190  1712.023810
                         12       ...        0.447368  20.701754  1997.991228
                         13       ...        0.500000  19.833333  2013.250000
                         14       ...        1.333333  23.000000  1507.200000
                         15       ...        0.777778  21.111111  3116.555556
                         16       ...        0.166667  23.750000  2302.041667
                         17       ...        0.666667  19.666667  2599.666667
                         18       ...        1.333333  23.666667  2175.000000
                         19       ...        0.000000  24.000000  2826.000000
                         20       ...        0.000000  23.000000  3217.000000
                         21       ...        0.000000  23.000000  2565.000000
                         23       ...        1.666667  23.333333  2314.333333
      20002.0 WASHINGTON 0        ...        0.000000  12.680000  1663.160000
                         2        ...        0.000000  11.222222  1435.888889
                         3        ...        0.200000  11.711111  1255.444444
                         4        ...        0.276808  11.887781  1226.229426
                         5        ...        0.333913  11.564348  1327.371304
                         6        ...        0.291355  12.314123  1505.916933
                         7        ...        0.349586  12.733301  1596.095076
                         8        ...        0.421611  15.177389  1608.497189
...                               ...             ...        ...          ...
      20036.0 WASHINGTON 12       ...        1.647059  22.470588  1533.529412
                         13       ...        2.000000  24.000000  1400.000000
                         14       ...        1.333333  24.000000  1399.000000
                         15       ...        1.500000  17.500000  1312.000000
                         16       ...        2.333333  24.000000  1959.333333
                         18       ...        5.000000  17.500000  3934.500000
      20037.0 WASHINGTON 3        ...        1.000000  12.600000   517.800000
                         4        ...        0.894737  11.333333   710.105263
                         5        ...        1.094595  11.297297  1071.337838
                         6        ...        0.985075  13.507463  1261.537313
                         7        ...        0.781250  14.250000  1184.062500
                         8        ...        0.827586  19.103448  1342.689655
                         9        ...        1.300000  17.966667  1329.666667
                         10       ...        1.500000  21.562500  1171.562500
                         11       ...        1.111111  21.222222  1371.777778
                         12       ...        1.300000  22.600000  1448.800000
                         13       ...        2.333333  24.000000  1913.666667
                         14       ...        1.000000  24.000000  1000.000000
                         15       ...        0.000000  24.000000  1929.500000
                         16       ...        1.333333  23.000000  1668.666667
                         17       ...        0.000000  24.000000  1085.000000
                         19       ...        2.000000  24.000000  1667.000000
      20052.0 WASHINGTON 5        ...        0.500000  11.000000   999.500000
                         6        ...        0.000000  11.000000  1105.500000
                         7        ...        0.000000  11.000000  1251.600000
                         8        ...        0.400000  11.800000  1387.800000
                         9        ...        0.000000  11.000000  1057.000000
                         10       ...        0.000000  11.000000  1057.000000
                         11       ...        0.000000  11.000000  1068.000000
                         12       ...        0.000000  24.000000  3438.000000

                                CMPLX_NUM  LIVING_GBA   LATITUDE  LONGITUDE  \
STATE ZIPCODE CITY       ROOMS
DC    20001.0 WASHINGTON 0            NaN         NaN  38.915971 -77.017309
                         2            NaN         NaN  38.907776 -77.025160
                         3            NaN         NaN  38.915647 -77.023177
                         4            NaN         NaN  38.915645 -77.020602
                         5            NaN         NaN  38.915101 -77.020362
                         6            NaN         NaN  38.916806 -77.017784
                         7            NaN         NaN  38.915654 -77.015996
                         8            NaN         NaN  38.914936 -77.016374
                         9            NaN         NaN  38.913268 -77.018244
                         10           NaN         NaN  38.912926 -77.017654
                         11           NaN         NaN  38.913183 -77.020362
                         12           NaN         NaN  38.912039 -77.019403
                         13           NaN         NaN  38.909126 -77.020262
                         14           NaN         NaN  38.910073 -77.021369
                         15           NaN         NaN  38.911380 -77.020375
                         16           NaN         NaN  38.910932 -77.019241
                         17           NaN         NaN  38.908259 -77.014411
                         18           NaN         NaN  38.906760 -77.023034
                         19           NaN         NaN  38.924395 -77.023290
                         20           NaN         NaN  38.911736 -77.017467
                         21           NaN         NaN  38.910916 -77.013082

In [45]:
#total missing values
df_missing.isnull().sum()

Unnamed: 0                 0
BATHRM                     0
HF_BATHRM                  0
HEAT                       0
AC                         0
NUM_UNITS              52261
ROOMS                      0
BEDRM                      0
AYB                      271
YR_RMDL                78029
EYB                        0
STORIES                52305
SALEDATE               26770
PRICE                  60741
QUALIFIED                  0
SALE_NUM                   0
GBA                    52261
BLDG_NUM                   0
STYLE                  52261
STRUCT                 52261
GRADE                  52261
CNDTN                  52261
EXTWALL                52261
ROOF                   52261
INTWALL                52261
KITCHENS               52262
FIREPLACES                 0
USECODE                    0
LANDAREA                   0
GIS_LAST_MOD_DTTM          0
SOURCE                     0
CMPLX_NUM             106696
LIVING_GBA            106696
FULLADDRESS            52917
CITY                   52906
STATE                  52906
ZIPCODE                    1
NATIONALGRID           52906
LATITUDE                   1
LONGITUDE                  1
ASSESSMENT_NBHD            1
ASSESSMENT_SUBNBHD     32551
CENSUS_TRACT               1
CENSUS_BLOCK           52906
WARD                       1
SQUARE                     0
X                        237
Y                        237
QUADRANT                 237
dtype: int64

In [47]:
#show rows with missing values
missing = df_missing['BATHRM'].isnull()
#missing will only show True/False values
df_missing.loc[missing]

Empty DataFrame
Columns: [Unnamed: 0, BATHRM, HF_BATHRM, HEAT, AC, NUM_UNITS, ROOMS, BEDRM, AYB, YR_RMDL, EYB, STORIES, SALEDATE, PRICE, QUALIFIED, SALE_NUM, GBA, BLDG_NUM, STYLE, STRUCT, GRADE, CNDTN, EXTWALL, ROOF, INTWALL, KITCHENS, FIREPLACES, USECODE, LANDAREA, GIS_LAST_MOD_DTTM, SOURCE, CMPLX_NUM, LIVING_GBA, FULLADDRESS, CITY, STATE, ZIPCODE, NATIONALGRID, LATITUDE, LONGITUDE, ASSESSMENT_NBHD, ASSESSMENT_SUBNBHD, CENSUS_TRACT, CENSUS_BLOCK, WARD, SQUARE, X, Y, QUADRANT]
Index: []

[0 rows x 49 columns]

In [51]:
#show rows with missing values
missing = df_missing['ZIPCODE'].isnull()
#missing will only show True/False values
df_missing.loc[missing]

,Unnamed: 0,BATHRM,HF_BATHRM,HEAT,AC,NUM_UNITS,ROOMS,BEDRM,AYB,YR_RMDL,...,LONGITUDE,ASSESSMENT_NBHD,ASSESSMENT_SUBNBHD,CENSUS_TRACT,CENSUS_BLOCK,WARD,SQUARE,X,Y,QUADRANT
104610,104610,2,0,Hot Water Rad,N,2.0,11,4,1938.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,PAR,NaN,NaN,NaN